# This gitignore is a whitelist. Inspired by https://rgbcu.be/blog/gitignore

*

!.gitignore
!.github
!dependabot.yml
!release.yml

!*.md
!*.py

!Dockerfile
!config-example.yaml
!docker-compose.yaml
!requirements.txt
